:root {
  --bg1: #0b5a4b;
  --bg2: #0c6352;

  --text: #ffffff;

  --container-hero: 980px;
  --container-app: 960px;
  --container-perm: 1200px;

  --panel-bg: rgba(5, 35, 31, 0.9);
  --panel-stroke: rgba(0, 0, 0, 0.6);
  --shadow-panel-1: 0 8px 0 rgba(0, 0, 0, 0.25);
  --shadow-panel-2: 0 14px 24px rgba(0, 0, 0, 0.25);

  --btn-bg: #082824;
  --btn-hover: #13463f;
  --shadow-btn: 0 4px 0 rgba(0, 0, 0, 0.3);

  --space-1: 14px;
  --space-2: 18px;
  --space-3: 24px;
  --space-4: 26px;
  --space-5: 56px;

  --radius-1: 6px;
  --radius-2: 12px;
}
